spring:
  application:
    name: RestAPIs

  datasource:
    url: jdbc:postgresql://localhost:5432/studentsDB
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
